<template>
  <div id="app">
    <h1>Tushar Mangle</h1>
    <div v-for="post in posts" :key="post.id">{{post.title}}</div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "App",
  components: {},
  data() {
    return {
      posts: []
    };
  },
  methods: {
    getPosts() {
      axios
        .get("https://jsonplaceholder.typicode.com/posts")
        .then(({ data }) => {
          this.posts = data;
        })
        .catch(err => console.log(err));
    }
  },
  mounted() {
    this.getPosts();
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
